@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Admin <a href="https://localhost:7091/Admin/">building Web apps with ASP.NET Core</a>.</p>
</div>
