@{
    ViewData["Title"] = "Home page";
}

<!--====== App Content ======-->
<div class="app-content">

    <!--====== Anti Flash White Background ======-->
    <div class="bg-anti-flash-white">

        <!--====== White Container ======-->
        <div class="white-container">
            <partial name="~/Views/Home/_slider.cshtml" />
        </div>
    </div>
</div>